<%= form_for(scale) do |f| %>
  <% if scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scale.errors.count, "error") %> prohibited this scale from being saved:</h2>

      <ul>
      <% scale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scale_name %><br>
    <%= f.text_field :scale_name %>
  </div>
  <br><br>
  <i>If the scale were to be played in the key of C, select which notes would be played</i>
  <br><br>
  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :c %> <br>
    <%= f.label :c %> <br>
    I
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :c_sharp %> <br>
    <strong>C#</strong>
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :d %> <br>
    <%= f.label :d %><br>
    ii
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :d_sharp %> <br>
    <strong>D#</strong>
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :e %> <br>
    <%= f.label :e %> <br>
    iii
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :f %> <br>
    <%= f.label :f %> <br>
    IV
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :f_sharp %> <br>
    <strong>F#</strong>
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :g %> <br>
    <%= f.label :g %> <br>
    V
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :g_sharp %> <br>
    <strong>G#</strong>
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :a %> <br>
    <%= f.label :a %><br>
    vi
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :a_sharp %> <br>
    <strong>A#</strong>
  </div>

  <div class="col-md-1" style='text-align: center'>
    <%= f.check_box :b %> <br>
    <%= f.label :b %> <br>
    vii
  </div>
  <br><br><br><br>
  <div class="field">
    <strong>Info on Scale</strong> (optional)<br>
    <%= f.text_area :history, rows: 8, cols: 50 %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Add Scale", class: 'btn btn-lg btn-warning' %>
  </div>
<% end %>
