<p id="notice"><%= notice %></p>

<p>
  <strong>Scale name:</strong>
  <%= @scale.scale_name %>
</p>

<p>
  <strong>C:</strong>
  <%= @scale.c %>
</p>

<p>
  <strong>C sharp:</strong>
  <%= @scale.c_sharp %>
</p>

<p>
  <strong>D:</strong>
  <%= @scale.d %>
</p>

<p>
  <strong>D sharp:</strong>
  <%= @scale.d_sharp %>
</p>

<p>
  <strong>E:</strong>
  <%= @scale.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @scale.f %>
</p>

<p>
  <strong>F sharp:</strong>
  <%= @scale.f_sharp %>
</p>

<p>
  <strong>G:</strong>
  <%= @scale.g %>
</p>

<p>
  <strong>G sharp:</strong>
  <%= @scale.g_sharp %>
</p>

<p>
  <strong>A:</strong>
  <%= @scale.a %>
</p>

<p>
  <strong>A sharp:</strong>
  <%= @scale.a_sharp %>
</p>

<p>
  <strong>B:</strong>
  <%= @scale.b %>
</p>

<p>
  <strong>History:</strong>
  <%= @scale.history %>
</p>

<%= link_to 'Edit', edit_scale_path(@scale) %> |
<%= link_to 'Back', scales_path %>
