
<div class='container overall'>
  <h1>
<div class="btn-group">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= params[:scale_name] || "Ionian" %> <span class='fa fa-angle-down'></span>
  </button>
  <ul class="dropdown-menu">
    <% @scalenames.each do |scalename| %>
      <li><%= link_to "#{scalename}", scale_discovery_path(:scale_name => "#{scalename}", :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => @string_five, :string_six => @string_six) %></li>
    <% end %>
  </ul>
</div>
Scale in
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @startingnote %> <span class='fa fa-angle-down'></span>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |gen| %>
      <li><%= link_to "#{gen}", scale_discovery_path(:scale_name => params[:scale_name], :key => "#{gen}", :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => @string_five, :string_six => @string_six) %></li>
    <% end %>
  </ul>
</div>
<% if current_user %>
  <%= link_to "Add Scale", new_scale_path, class: "btn btn-danger", :style => 'color:white' %>
<% end %>
</h1>


<hr>
<% notesinthisscale = [@notes[@notes.index(@startingnote)]] %>
<% @scale.each do |scale| %>
  <div class='notebox'>
    <%= @notes[@notes.index(@startingnote)] %>
  </div>
  <% if scale.c_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 1] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 1]) %>
  <% end %>
  <% if scale.d == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 2] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 2]) %>
  <% end %>
  <% if scale.d_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 3] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 3]) %>
  <% end %>
  <% if scale.e == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 4] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 4]) %>
  <% end %>
  <% if scale.f == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 5] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 5]) %>
  <% end %>
  <% if scale.f_sharp == true %>
  <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 6] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 6]) %>
  <% end %>
  <% if scale.g == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 7] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 7]) %>
  <% end %>
  <% if scale.g_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 8] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 8]) %>
  <% end %>
  <% if scale.a == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 9] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 9]) %>
  <% end %>
  <% if scale.a_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 10] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 10]) %>
  <% end %>
  <% if scale.b == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 11] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 11]) %>
  <% end %>
  <div class='notebox'>
    <%= @notes[@notes.index(@startingnote)] %>
  </div>
  <hr>
<% end %>

<h1>Notes in Scale</h1>
  <%= render partial: 'fret_board__settings', locals: {comingfrom: "scale_discovery"} %>
  <%= render partial: 'fret_board__bridge', locals: {notesinthisscale: notesinthisscale} %>

  <%= render partial: 'fret_board__string', locals: {string: @string_one, notesinthisscale: notesinthisscale} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_two, notesinthisscale: notesinthisscale} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_three, notesinthisscale: notesinthisscale} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_four, notesinthisscale: notesinthisscale} %>
  <% if @numberofstrings == "6" %>
    <%= render partial: 'fret_board__string', locals: {string: @string_five, notesinthisscale: notesinthisscale} %>
    <%= render partial: 'fret_board__string', locals: {string: @string_six, notesinthisscale: notesinthisscale} %>
  <% end %>












<br><br>
<h1>Chord Maps</h1>
    <% notesinthisscaletwo = [] %>
    <% notesinthisscale.each do |yay| %>
      <% notesinthisscaletwo.push(yay) %>
    <% end %>
    <% notesinthisscale.each do |yay| %>
      <% notesinthisscaletwo.push(yay) %>
    <% end %>
    <% x = notesinthisscale[0..-2].count %>
<% for n in 0..x %>
<div class='col-md-3'>
<h3><%= notesinthisscaletwo[n] %></h3>
  <%= render partial: 'fret_board__bridge', locals: {notesinthisscale: notesinthisscale} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_one, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_two, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_three, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
  <%= render partial: 'fret_board__string', locals: {string: @string_four, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
  <% if @numberofstrings == "6" %>
    <%= render partial: 'fret_board__string', locals: {string: @string_five, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
    <%= render partial: 'fret_board__string', locals: {string: @string_six, notesinthisscale: [notesinthisscaletwo[n], notesinthisscaletwo[n+2], notesinthisscaletwo[n+4]]} %>
  <% end %>
</div>
<% end %>
