<div class='container overall'>
  <h1>
<div class="btn-group">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= params[:scale_name] || "Ionian" %> <span class='fa fa-angle-down'></span>
  </button>
  <ul class="dropdown-menu">
    <% @scalenames.each do |scalename| %>
      <li><%= link_to "#{scalename}", scale_discovery_path(:scale_name => "#{scalename}", :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => @string_five, :string_six => @string_six) %></li>
    <% end %>
  </ul>
</div>
Scale in
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @startingnote %> <span class='fa fa-angle-down'></span>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |gen| %>
      <li><%= link_to "#{gen}", scale_discovery_path(:scale_name => params[:scale_name], :key => "#{gen}", :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => @string_five, :string_six => @string_six) %></li>
    <% end %>
  </ul>
</div>
</h1>


<hr>
<% notesinthisscale = [@notes[@notes.index(@startingnote)]] %>
<% @scale.each do |scale| %>
  <div class='notebox'>
    <%= @notes[@notes.index(@startingnote)] %>
  </div>
  <% if scale.c_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 1] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 1]) %>
  <% end %>
  <% if scale.d == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 2] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 2]) %>
  <% end %>
  <% if scale.d_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 3] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 3]) %>
  <% end %>
  <% if scale.e == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 4] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 4]) %>
  <% end %>
  <% if scale.f == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 5] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 5]) %>
  <% end %>
  <% if scale.f_sharp == true %>
  <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 6] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 6]) %>
  <% end %>
  <% if scale.g == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 7] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 7]) %>
  <% end %>
  <% if scale.g_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 8] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 8]) %>
  <% end %>
  <% if scale.a == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 9] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 9]) %>
  <% end %>
  <% if scale.a_sharp == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 10] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 10]) %>
  <% end %>
  <% if scale.b == true %>
    <div class='notebox'>
      <%= @notes[@notes.index(@startingnote) + 11] %>
    </div>
    <% notesinthisscale.push(@notes[@notes.index(@startingnote) + 11]) %>
  <% end %>
  <div class='notebox'>
    <%= @notes[@notes.index(@startingnote)] %>
  </div>
  <hr>
<% end %>

<h1>Notes in Scale</h1>
<div class='btn-group'>
  <strong>Instrument Preset</strong>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @instrument_choice %>
  </button>
  <ul class='dropdown-menu'>
    <li><%= link_to "Mandolin", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "4", :instrument_choice => "Mandolin") %></li>
    <li><%= link_to "Guitar", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "6", :instrument_choice => "Guitar") %></li>
    <li><%= link_to "Ukelele", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "4", :instrument_choice => "Ukelele") %></li>
    <li><%= link_to "Plectrum Banjo", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "4", :instrument_choice => "Plectrum Banjo") %></li>
    <li><%= link_to "Tenor Banjo", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "4", :instrument_choice => "Tenor Banjo") %></li>
  </ul>
</div>
<br><br>
<div class='btn-group'>
  <strong>Number of Strings</strong>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @numberofstrings %>
  </button>
  <ul class='dropdown-menu'>
    <li><%= link_to "4", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "4") %></li>
    <li><%= link_to "6", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => "6") %></li>
  </ul>
</div>

<br><br>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_one %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => "#{pushnotes}", :string_two => @string_two, :string_three => @string_three, :string_four => @string_four,:string_five => @string_five, :string_six => @string_six, :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_two %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => "#{pushnotes}", :string_three => @string_three, :string_four => @string_four,:string_five => @string_five, :string_six => @string_six, :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_three %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => "#{pushnotes}", :string_four => @string_four,:string_five => @string_five, :string_six => @string_six, :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_four %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => "#{pushnotes}",:string_five => @string_five, :string_six => @string_six, :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>

<% if @numberofstrings == "6" %>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_five %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => "#{pushnotes}", :string_six => @string_six, :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>
<div class='btn-group'>
  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @string_six %>
  </button>
  <ul class='dropdown-menu'>
    <% @notes[0..11].each do |pushnotes| %>
      <li><%= link_to "#{pushnotes}", scale_discovery_path(:scale_name => params[:scale_name], :key => params[:key], :numberofstrings => @numberofstrings, :string_one => @string_one, :string_two => @string_two, :string_three => @string_three, :string_four => @string_four, :string_five => @string_five, :string_six => "#{pushnotes}", :instrument_choice => @instrument_choice) %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br><br>

<div class='openattop'>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_one) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_two) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_three) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_four) %>O<% else %>X<% end %>
  </div>
  <% if @numberofstrings == "6" %>
    <div class='yesno'>
      <% if notesinthisscale.include?(@string_five) %>O<% else %>X<% end %>
    </div>
    <div class='yesno'>
      <% if notesinthisscale.include?(@string_six) %>O<% else %>X<% end %>
    </div>
  <% end %>
</div>






  <div class='stringles'>
    <% @notes[@notes.index(@string_one)+1..@notes.index(@string_one) + 12].each do |gen| %>
    <% if notesinthisscale[0] == gen %>
      <div class='root_note'>
      </div>
    <% elsif notesinthisscale.include?(gen) %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='stringles'>
    <% @notes[@notes.index(@string_two)+1..@notes.index(@string_two) + 12].each do |gen| %>
    <% if notesinthisscale[0] == gen %>
      <div class='root_note'>
      </div>
    <% elsif notesinthisscale.include?(gen) %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='stringles'>
    <% @notes[@notes.index(@string_three)+1..@notes.index(@string_three) + 12].each do |gen| %>
    <% if notesinthisscale[0] == gen %>
      <div class='root_note'>
      </div>
    <% elsif notesinthisscale.include?(gen) %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='stringles'>
    <% @notes[@notes.index(@string_four)+1..@notes.index(@string_four) + 12].each do |gen| %>
    <% if notesinthisscale[0] == gen %>
      <div class='root_note'>
      </div>
    <% elsif notesinthisscale.include?(gen) %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
<% if @numberofstrings == "6" %>
    <div class='stringles'>
      <% @notes[@notes.index(@string_five)+1..@notes.index(@string_five) + 12].each do |gen| %>
      <% if notesinthisscale[0] == gen %>
        <div class='root_note'>
        </div>
      <% elsif notesinthisscale.include?(gen) %>
          <div class='playthis'>
          </div>
        <% else %>
          <div class='notavalidnote'>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='stringles'>
      <% @notes[@notes.index(@string_six)+1..@notes.index(@string_six) + 12].each do |gen| %>
        <% if notesinthisscale[0] == gen %>
          <div class='root_note'>
          </div>
        <% elsif notesinthisscale.include?(gen) %>
          <div class='playthis'>
          </div>
        <% else %>
          <div class='notavalidnote'>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>











<br><br>
<h1>Chord Maps</h1>
    <% notesinthisscaletwo = [] %>
    <% notesinthisscale.each do |yay| %>
      <% notesinthisscaletwo.push(yay) %>
    <% end %>
    <% notesinthisscale.each do |yay| %>
      <% notesinthisscaletwo.push(yay) %>
    <% end %>
    <% x = notesinthisscale[0..-2].count %>
<% for n in 0..x %>
<div class='col-md-3'>
<h3><%= notesinthisscaletwo[n] %></h3>
<div class='openattop'>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_one) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_two) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_three) %>O<% else %>X<% end %>
  </div>
  <div class='yesno'>
    <% if notesinthisscale.include?(@string_four) %>O<% else %>X<% end %>
  </div>
  <% if @numberofstrings == "6" %>
    <div class='yesno'>
      <% if notesinthisscale.include?(@string_five) %>O<% else %>X<% end %>
    </div>
    <div class='yesno'>
      <% if notesinthisscale.include?(@string_six) %>O<% else %>X<% end %>
    </div>
  <% end %>
</div>
<div class='stringles'>
  <% @notes[@notes.index(@string_one)+1..@notes.index(@string_one) + 12].each do |gen| %>
    <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
      <div class='playthis'>
      </div>
    <% else %>
      <div class='notavalidnote'>
      </div>
    <% end %>
  <% end %>
</div>
<div class='stringles'>
  <% @notes[@notes.index(@string_two)+1..@notes.index(@string_two) + 12].each do |gen| %>
    <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
      <div class='playthis'>
      </div>
    <% else %>
      <div class='notavalidnote'>
      </div>
    <% end %>
  <% end %>
</div>
<div class='stringles'>
  <% @notes[@notes.index(@string_three)+1..@notes.index(@string_three) + 12].each do |gen| %>
    <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
      <div class='playthis'>
      </div>
    <% else %>
      <div class='notavalidnote'>
      </div>
    <% end %>
  <% end %>
</div>
<div class='stringles'>
  <% @notes[@notes.index(@string_four)+1..@notes.index(@string_four) + 12].each do |gen| %>
    <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
      <div class='playthis'>
      </div>
    <% else %>
      <div class='notavalidnote'>
      </div>
    <% end %>
  <% end %>
</div>

  <% if @numberofstrings == "6" %>
  <div class='stringles'>
    <% @notes[@notes.index(@string_five)+1..@notes.index(@string_five) + 12].each do |gen| %>
      <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='stringles'>
    <% @notes[@notes.index(@string_six)+1..@notes.index(@string_six) + 12].each do |gen| %>
      <% if notesinthisscaletwo[n] == gen || notesinthisscaletwo[n+2] == gen || notesinthisscaletwo[n+4] == gen %>
        <div class='playthis'>
        </div>
      <% else %>
        <div class='notavalidnote'>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>

</div>
